/* Estilos gerais */
body {
    
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 94, 255);
}

header {
    background-color: rgb(253, 253, 253);
    color: rgba(17, 0, 255, 0.737);
    padding: 15px;
}

.Paragrafro {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    max-width: 720px;
    margin: auto;
}

nav a {
    color: rgb(255, 0, 0);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    
}

h2 {
    
    color: rgb(255, 255, 255);
}

/* Carrossel */
.carousel-container {
    position: relative;
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
    border: 5px solid #ddd;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 1080px;
    height: 720px;
    object-fit: cover;
}

/* Botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

